@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Raleway', 'Nanum Barun Gothic', sans-serif;
}
a {
	text-decoration: none;
	color: #000;
	display: block;
}
a[class^="btn_"], button[class^="btn_"] {
	text-align: center;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, div {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--------------------------------------------------*/

body {
	font-family: 'Raleway', 'Nanum Barun Gothic', sans-serif;
	background-color: #fff;
	color: #000;
}
body, html {
	height: 100%;
}

body #wrap {
	width: 100%;
	height: 100%;
	display: table;
	margin: 0 auto;
	table-layout: fixed;
}
/*---------------------Header-----------------------------*/
#wrap .header {
	position: relative;
	height: 98px;
}

#wrap .header-inner {
	width: 100%;
  height: 97px;
  z-index: 30;
  background: rgba(255, 255, 255, 0.7);
  box-sizing: content-box;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
	border-bottom: 1px solid #d6d6d6;
}
#wrap .header-inner .inner-inner {
	height: 97px;
	width: 1168px;
	margin: 0 auto;
	position: relative;
}

#wrap .header-inner .minilogo {
	background: url(./image/shortcut.png) no-repeat 50% -5%;
  background-size: 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 15px;
  left: 42px;
  z-index: 50;
}
#wrap .header-inner .minilogo:hover {
	opacity: 0.5;
	transition: all 0.2s ease;
}
#wrap .header-inner .minilogo a {
	width: 77px;
  height: 72px;
  position: absolute;
  left: 7px;
  top: 0;
}
#wrap .header-inner .minilogo a + a {
	width: 108px;
	left: 77px;
}

.header .header-inner .menu {
	height: 62px;
}

.header .header-inner .menu ul {
	position: absolute;
	left: 450px;
	top: 28px;
	height: 36px;
	display: block;
	z-index: 30;
	-webkit-box-pack: center;
}
.header .header-inner .menu ul li {
  float: left;
  position: relative;
  margin-top: 10px;
  padding-bottom: 12px;
}
.header .header-inner .menu ul li+li {
	margin-left: 72px;
}

.header .header-inner .menu li > a span{
	font-size: 17px;
	color: #000;
}
.header .header-inner .menu ul li a span:hover, .header .header-inner .menu ul li i:hover {
  color: #ababab;
	text-shadow: 2px 2px 8px #eee;
	transition: color 0.4s ease;
}
.header .header-inner .menu ul li i {
	margin-left: 130px;
	color: #355089;
	max-width: 100%;
	margin-top: -7px;
}
.header .header-inner .menu li:nth-child(5) {
	margin-top: 5px;
}

/*----------------------------------------------------------*/
/*-----------------main-visual--------------------------------*/
#main-visual{
	height: 100%;
  position: relative;
  z-index: 5;
  overflow: hidden;
  background: #000;
}
#scenes {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
}
#scenes .scene {
	position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
}
#scenes .scene .background {
	width: 1920px;
	height: 100%;
}
#scenes .scene .background:before {
	content: ' ';
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./image/dotted.png');
}
#scenes .scene .cover1 {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('./image/Kid-pilot.jpg');
	background-size: cover;
	background-position: 77% 0%;
	opacity: 1;
	transition: opacity 1s;
}
#scenes .scene .cover2 {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('./image/Iam.JPG');
	background-size: cover;
	background-position: 50% 0%;
	opacity: 1;
	transition: opacity 1s;
}
.scene-controller {
  text-align: center;
}

#main-visual .scene-controller #moveleft, #main-visual .scene-controller #moveright {
	display: block;
	position: absolute;
	top: 50%;
	z-index: 5;
	color: #ddd;
}
#main-visual .scene-controller #moveleft:hover, #main-visual .scene-controller #moveright:hover {
	color: #fff;
	transition: all 0.5s ease;
}
#scenes .scene .scene-information {
	position: absolute;
	display: block;
	text-align: center;
	width: 320px;
	max-height: 100%;
	z-index: 10;
	top: 50%;
	left: 50%;
	color: #fff;
	margin: -80px 0 0 -160px;
	/*background: #000;
	opacity: 0.5;
	border-radius: 20px;
	padding: 10px 0;*/
}
#scenes .scene .scene-information h2 {
	font-size: 1.6em;
	margin: 0 0 5px;
	text-transform: uppercase;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 0.3em;
	color: #fff;
	text-align: center;
}
#scenes .scene h2 span {
	display: block;
	line-height: 0.7;
	font-size: 0.9em;
}
#scenes .scene .scene-information p {
	display: block;
	line-height: 1.2;
	font-size: 0.9em;
}
/*----------------------------------------------------------*/
/*-----------------container-------------------------------*/
#container {
	height: 100%;
	background: #fafafa;
}
#container-inner {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	min-height: 100%;
	padding: 0
}
#container .Information-table {
	padding: 0 20px;
	padding-top: 35px;
	max-width: 100%;
	position: relative;
	text-align: center;
	height: 100%;
}
#container .Information-table .Information-details {
	position: relative;
	width: 30%;
	display: inline-block;
	height: 350px;
}
/*#container .Information-table h3, #container .career-outer h3 {
	font-size: 20px;
	color: #dd9a25;
	display: block;
	font-weight: 500;
	margin-bottom: 7px;
	padding-bottom: 10px;
	border-bottom: 1px solid #b4b4b4;
	font-weight: 700;
}*/
#container .Information-table ul {
	list-style: none;
	position: absolute;
	left: 10px;
}
#container .Information-details ul li {
	font-size: 18px;
	line-height: 3em;
}
#container .chart {
	position: relative;
	width: 100%;
	left: 0;
	height: 350px;
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 50px;
	border-top: 1px solid #ddd;
	/*padding-left: 7%;*/
	/*border-left: 2px solid #ddd;*/
}
#container .storyan {
	position: relative;
	text-align: center;
	margin-bottom: 60px;
	padding-top: 50px;
	border-top: 1px solid #ddd;
}
#container .storyan h1,#container .Information-table h3, #container .career-outer h3 {
	font-size: 26px;
	display: block;
	font-weight: 900;
	color: #dd9a25;
	text-transform: uppercase;
	letter-spacing: 5px;
	position: absolute;
	top: -12px;
	left: 50%;
	margin-left: -142px;
	background: #fafafa;
	text-align: center;
	width: 300px;
}

#container .Information-table:after {
	content: "";
	display: block;
	clear: both;
}
#container .graph .graph.containers {
  width: 100%;
  background-color: #ddd;
	margin-bottom: 10px;
}

#container .graph .skill {
  text-align: right;
  padding-right: 20px;
  line-height: 30px;
  color: white;
}
#container .graph {
	width: 100%;
}

#container .graph p {
	font-size: 16px;
	margin-bottom: 10px;
}
#container .htmlcss {width: 70%; background-color: #4CAF50;}
#container .js {width: 50%; background-color: #2196F3;}
#container .jquery {width: 20%; background-color: #f44336;}
#container .gitfth {width: 50%; background-color: #db9a2b;}
/*------------------ Career List ---------------------------*/
#container .career-outer {
	margin: 0 auto;
	padding: 30px 20px;
}
#container .career-outer .career_list_wrap {
	position: relative;
	padding-top: 50px;
	border-top: solid 1px #ddd;
}
#container .career-outer .career_list_wrap ul {
	position: relative;
}
#container .career-outer .career_list_wrap ul:after {
	content: '';
	display: block;
	clear: both;
}
#container .career-outer .career_list_wrap ul li {
	float: left;
	height: 300px;
	width: 100%;
	padding: 5px 5px 50px 5px;
	background: #fff;
	border-radius: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #eee;
}
#container .career-outer .career_list_wrap ul li a {
	height: 100%;
}

#container .career-outer .career_list_wrap ul li a .project_Ryan {
	background: url(./image/Iam.jpg);
	background-position: 55% 43%;
	background-size: 200%;
	height: 100%;
	border-radius: 5px;
	filter: blur(2px);
}

#container .career-outer .career_list_wrap ul li a .coming {
	background: url(./image/kid-pilot.jpg) no-repeat;
	background-position: 55% 43%;
	background-size: 30%;
	height: 100%;
}
#container .career-outer .career_list_wrap ul li a:hover p {
	background-size: 220%;
	filter: blur(0);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
#container .Information-table .storyan p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.8em;
  color: #a7a7a7;
  letter-spacing: 0.08em;
}
#container .career-outer .career_list_wrap li a h4 {
	margin-top: 10px;
	text-indent: 12px;
	color: #000;
	font-size: 16px;
	display: block;
	font-weight: normal;
	font-family: "Raleway"
}
#container .career-outer .career_list_wrap li a span {
	margin-top: 3px;
	text-indent: 12px;
	color: #aaa;
	font-size: 12px;
	display: block;
	font-weight: normal;
	font-family: "Raleway"
}
/*------------------ 반응형 웹 만들기 ---------------------------*/
@media (min-width: 768px) {
	#scenes .scene .scene-information {
		width: 700px;
		margin: -140px 0 0 -350px;
	}
	#scenes .scene .scene-information h2 {
		font-size: 3.2em;
		margin: 0 0 11px;
	}
	#scenes .scene h2 span {
		line-height: 2.5;
		font-size: 1.1em;
	}
	#scenes .scene .scene-information p {
		display: block;
		line-height: 2;
		font-size: 1.1em;
	}
	#container-inner {
		max-width: 1060px;
	}
	#container .Information-table {
		padding-top: 55px;
		text-align: left;
	}
	/*#container .Information-table h3, #container .career-outer h3 {
		font-size: 40px;
		margin-bottom: 20px;
	}*/
	#container .Information-details ul li {
	}
	/*#container .Information-table div {
		float: left;
	}*/
}
@media (min-width: 1000px) {
	#container .career-outer {
		max-width: 1060px;
	}
	#container .career-outer .career_list_wrap ul li {
		width: 47%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	#container .career-outer .career_list_wrap ul li a .project_Ryan {
		background-position: 55% 41%;
		background-size: 200%;
	}
	#container .career-outer .career_list_wrap ul li a .coming {
		background-size: 100%;
	}
	#container .career-outer .career_list_wrap ul li+li {
		width: 25%;
		padding-left: 15px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		margin-left: 10px;
	}
}
